:root{
	--body-color: #393939;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--body-color);
	margin: 0 auto;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (min-width: 640px) {
	main {
		max-width: 480px;
		margin: 0 auto;
	}
}